<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body style="background-image:url('/Content/Pictures/Baustein.jpg');text-align:center;">
    <style>
        .textBox {
            border-radius: 5px;
            background: #261804;
            color: white;
            word-break: break-word;
        }

        .subline {
            margin-left: auto;
            margin-right: auto;
            padding: 8px;
            font-size: medium;
        }

        .kuerbis {
            background-image: url('/Content/Pictures/Kürbis_OhneGesicht.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            margin: 10px;
            margin-bottom: -5px;
        }

        .screenshots {
            height: 250px;
            width: 100%;
        }

        a {
            color: rgb(89, 160, 220) !important;
        }
    </style>
    <div class="container body-content">
        @RenderBody()
        <footer style="margin-top:25px;margin-bottom: 65px;">
            <p style="width: 15em;margin-left: auto;margin-right: auto;" class="textBox">
                &copy; @DateTime.Now.Year - INDIE RETRO GAME
            </p>
        </footer>
        <div style="background-image:url('/Content/Pictures/stacheln.png');width: 100%;height: 100px;display: inline;
                    position: fixed;bottom: 0px;left: 0px;background-repeat: repeat-x;background-size: contain;"></div>
    </div>
    <script>
        function kuerbisOhneGesicht(ele) {
            $(ele).css('background-image', 'url("/Content/Pictures/Kürbis_OhneGesicht.png")')
        }


        function kuerbisMitGesicht(ele) {
            $(ele).css('background-image', 'url("/Content/Pictures/Kürbis_MitGesicht.png")')
        }

        $(function () {
            $('.kuerbis').mouseover(function () {
                kuerbisMitGesicht(this);
            }).mouseout(function () {
                kuerbisOhneGesicht(this);
            });
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
